.job {
  background-color: #004060;
}

label {
  display: inline-block;
  width: 175px;
  padding-right: 15px;
  text-align: left;
  padding-bottom: 15px;
}

.variants_job {
  background-color: #1da6eb;
}

select {
  margin-bottom: 40px;
}

.vacancies {
  padding: 40px;
  margin-top: 40px;
  border-radius: 30px;
  width: 80%;
}