.pizza {
  background-color: #F9C303;
}

.variants_pizza {
  background-color: #FCE388;
}

.variants_pizza .buttons button {
  background-color: firebrick;
}

figure:hover .figure {
  transform: scale(1.1);
}