@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@keyframes changeImage {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header {
  background-color: #F98600;
  justify-content: space-between;
  align-items: center;
}

.logo {
  zoom: 30%;
}

.pizza_plaza {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 160%;
}

.variants_promotions {
  background-color: #ffc074;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}

.promotions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  position: relative;
}

.promotions img {
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: changeImage 5s infinite;
}

.promotions .anim1 {
  animation-delay: 0s;
}

.promotions .anim2 {
  animation-delay: 2.5s;
}

.anim1,
.anim2 {
  position: absolute;
  top: 0;
  left: 0;
}

.anim1 {
  z-index: 1;
}

.anim2 {
  z-index: 2;
}

.pizza {
  background-color: #F9C303;
}

.variants_pizza {
  background-color: #FCE388;
}

.variants_pizza .buttons button {
  background-color: firebrick;
}

figure:hover .figure {
  transform: scale(1.1);
}

.drinks {
  background-color: #1ACFB3;
}

.variants_drinks {
  background-color: #abe7db;
}

.dessert {
  background-color: #a24b2f;
}

.variants_dessert {
  background-color: #f48967;
}

.sauce {
  background-color: #D71732;
}

.variants_sauce {
  background-color: #fa7a7a;
}

.order {
  background-color: #1776a5;
}

.variants_order {
  background-color: #63bdea;
}

.form_order {
  border: 2px dashed;
}

.company {
  background-color: #004060;
}

.about {
  font-size: 130%;
  line-height: 1.5;
}

.job {
  background-color: #004060;
}

label {
  display: inline-block;
  width: 175px;
  padding-right: 15px;
  text-align: left;
  padding-bottom: 15px;
}

.variants_job {
  background-color: #1da6eb;
}

select {
  margin-bottom: 40px;
}

.vacancies {
  margin: 40px 100px 40px 100px;
  padding: 40px;
  align-self: flex-start;
  border-radius: 30px;
}

@media screen and (max-width: 920px) {
  .logo {
    border-radius: 300px;
  }
}
p,
li,
figcaption,
h2 {
  font-family: "JetBrains Mono";
}

.info li a,
.pizza_plaza,
.variants_pizza .buttons button,
h1 {
  color: snow;
}

.variants_company,
.vacancies,
footer,
figure {
  background-color: snow;
}

.position,
.info > ul > li,
.products > ul > li,
.description {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  background-color: OldLace;
  margin-top: 30px;
  padding: 10px;
  border-radius: 0 0 20px 20px;
}

.info {
  justify-content: space-between;
  align-items: center;
}

.info > ul {
  display: flex;
}

.info > ul > li {
  padding: 0 20px;
}

.compound {
  font-style: italic;
  font-size: smaller;
}

.description li {
  overflow-wrap: break-word;
}

.logo {
  border-radius: 200px;
}

.main {
  margin: 40px 100px 0 100px;
}

header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px 20px 0 0;
}

.logo-brand {
  display: flex;
}

.photo {
  width: 100%;
  height: auto;
  transform: scale(0.8);
}

.products {
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
}

.products > ul > li {
  display: inline-block;
  margin: 0 10px 0 10px;
}

.variants {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding: 20px;
  flex-flow: row wrap;
}

form {
  background-color: aliceblue;
  color: dimgrey;
  padding-left: 20px;
  padding-top: 1px;
  padding-bottom: 20px;
  font-size: 1.2em;
  width: 500px;
}

.pizza_plaza {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: snow;
  font-size: 160%;
  padding: 10px;
}

figcaption {
  font-style: bold;
  font-size: larger;
  font-weight: 800;
  margin-left: 40px;
  align-items: left;
}

figure {
  background-color: snow;
  border-radius: 20px;
  width: 40%;
  flex-direction: column;
  justify-content: center;
}

img {
  align-content: center;
}

.description {
  margin-right: 20px;
}/*# sourceMappingURL=style.css.map */