@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@keyframes changeImage {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header {
  background-color: #F98600;
  justify-content: space-between;
  align-items: center;
}

.logo {
  zoom: 30%;
}

.pizza_plaza {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 160%;
}

.variants_promotions {
  background-color: #ffc074;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}

.promotions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  position: relative;
}

.promotions img {
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: changeImage 5s infinite;
}

.promotions .anim1 {
  animation-delay: 0s;
}

.promotions .anim2 {
  animation-delay: 2.5s;
}

.anim1,
.anim2 {
  position: absolute;
  top: 0;
}

.anim1 {
  z-index: 1;
}

.anim2 {
  z-index: 2;
}

.pizza {
  background-color: #F9C303;
}

.variants_pizza {
  background-color: #FCE388;
}

.variants_pizza .buttons button {
  background-color: firebrick;
}

.variants_pizza .buttons button:focus {
  color: firebrick;
  background-color: snow;
}

figure:hover .figure {
  transform: scale(1.1);
}

.drinks {
  background-color: #1ACFB3;
}

.variants_drinks {
  background-color: #abe7db;
}

.dessert {
  background-color: #a24b2f;
}

.variants_dessert {
  background-color: #f48967;
}

.sauce {
  background-color: #D71732;
}

.variants_sauce {
  background-color: #fa7a7a;
}

.order {
  background-color: #1776a5;
}

.variants_order {
  background-color: #63bdea;
}

.notification {
  padding: 20px;
  text-align: center;
}

.company {
  background-color: #004060;
}

.about,
.first {
  font-size: 130%;
  line-height: 1.5;
  text-indent: 3em;
}

.first:first-letter {
  font-size: 200%;
  background-color: #004060;
}

.info_img {
  display: block;
  margin: auto;
  max-width: 75%;
  height: auto;
}

.job {
  background-color: #004060;
}

label {
  display: inline-block;
  width: 175px;
  padding-right: 15px;
  text-align: left;
  padding-bottom: 15px;
}

.variants_job {
  background-color: #1da6eb;
}

select {
  margin-bottom: 40px;
}

.vacancies {
  margin: 40px 100px 40px 100px;
  padding: 40px;
  margin-top: 40px;
  border-radius: 30px;
  width: 80%;
}

form button {
  font-size: 16px;
}

#registration {
  background-color: #1da6eb;
}

#cancel {
  background-color: #FF5640;
}

html {
  min-width: 390px;
}

figure {
  margin: 10px;
}

.icon {
  width: 50px;
  height: 50p;
}

.notification {
  font-family: "Montserrat";
}

p,
li,
figcaption,
h2 {
  font-family: "JetBrains Mono";
}

.about,
.first {
  font-family: "Comfortaa";
}

.info li a,
.pizza_plaza,
.variants_pizza .buttons button,
h1,
.first:first-letter,
#registration,
#cancel,
.to_order button,
#addToCart,
.to_order span {
  color: snow;
}

.variants_company,
.vacancies,
figure,
.notification,
.variants_pizza .buttons button:focus {
  background-color: snow;
}

.position,
.info > ul > li,
.products > ul > li,
.description {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.products ul li a:hover,
.info ul li a:hover {
  text-decoration: underline;
}

footer {
  background-color: OldLace;
  margin-top: 30px;
  padding: 30px;
  border-radius: 0 0 20px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.location {
  margin: 10px 0 10px 0;
}

.info {
  justify-content: space-between;
  align-items: center;
}

.info > ul {
  display: flex;
}

.info ul li {
  padding: 0 20px;
  margin-top: 4px;
}

.compound {
  font-style: italic;
  font-size: smaller;
}

.description li {
  overflow-wrap: break-word;
}

.logo {
  border-radius: 200px;
}

.main {
  margin: 40px 100px 0 100px;
}

header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px 20px 0 0;
}

.logo-brand {
  display: flex;
  width: 100vw;
}

.photo {
  width: 100%;
  height: auto;
  transform: scale(0.8);
  transition: 0.3s all linear;
}

.photo:hover {
  transform: scale(0.95);
}

.products {
  display: flex;
  justify-content: center;
  background-color: #F5F5F5;
}

.products > ul > li {
  display: inline-block;
  margin: 0 10px 0 10px;
}

.variants {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-flow: row wrap;
}

form {
  background-color: aliceblue;
  color: dimgrey;
  padding: 0 20px;
  margin: 20px 0;
  padding: 40px;
  font-size: 1.2em;
  border-radius: 30px;
  width: 80%;
}

.to_order {
  display: flex;
  justify-content: center;
}

.to_order button,
#addToCart,
.to_order span {
  background-color: #A60C00;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 10px;
}

#addToCart {
  margin: 10px auto;
  border-radius: 20px;
}

.pizza_plaza {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 30px;
  padding: 10px;
}

figcaption {
  word-break: break-all;
  font-size: larger;
  font-weight: 800;
  margin-left: 40px;
}

figure {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  width: 40%;
  flex-direction: column;
}

img {
  align-content: center;
}

.description {
  margin-right: 20px;
}

@media (max-width: 1024px) {
  .promotions {
    height: 600px;
  }
  .promotions img {
    width: 90%;
  }
}
@media (max-width: 920px) {
  .logo {
    border-radius: 300px;
  }
  .main {
    margin: 40px 20px 0 20px;
  }
}
@media (max-width: 768px) {
  .promotions img {
    width: 90%;
  }
  .promotions {
    height: 500px;
  }
  .vacancies {
    margin: 0;
  }
  .vacancies ul {
    padding-left: 30px;
    margin: 0;
  }
  .variants {
    padding: 50px;
  }
  form {
    width: 100%;
  }
  .about,
  .first,
  .to_order button,
  #addToCart {
    font-size: 14px;
  }
}
@media (max-width: 630px) {
  .description {
    margin-right: 10px;
  }
  .promotions img {
    object-fit: contain;
  }
  .info ul {
    display: block;
  }
  .variants {
    padding: 10px;
  }
}
@media (max-width: 560px) {
  .promotions {
    height: 300px;
  }
}
@media (max-width: 480px) {
  .main {
    margin: 0;
  }
  .logo-brand {
    width: 15%;
  }
  .logo-brand img {
    width: 100%;
  }
  .logo-brand .pizza_plaza {
    font-size: 20px;
  }
  figure {
    width: 100%;
  }
  .info > ul > li {
    padding: 0 2px;
  }
  .info > ul > li a {
    font-size: 15px;
  }
  .description {
    padding: 10px;
  }
  .vacancies {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .vacancies ul {
    padding-left: 20px;
  }
  .description {
    margin: 0;
  }
  .about,
  .first {
    font-size: 14px;
  }
  .to_order button,
  #addToCart {
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */