@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "./blocks/main";
@import "./blocks/pizza";
@import "./blocks/drinks";
@import "./blocks/dessert";
@import "./blocks/sauce";
@import "./blocks/order";
@import "./blocks/company";
@import "./blocks/job";

@mixin flex-center {
    display: flex;
    justify-content: center;
}

$snow: snow;
$pastel-pizza: OldLace;

html {
    min-width: 390px;
}

figure {
    margin: 10px;
}

.icon {
    width: 50px;
    height: 50p;
}

.notification {
    font-family: "Montserrat";
}

p,
li,
figcaption,
h2 {

    font-family: "JetBrains Mono";
}

.about,
.first {
    font-family: "Comfortaa";
}

.info li a,
.pizza_plaza,
.variants_pizza .buttons button,
h1,
.first:first-letter,
#registration,
#cancel,
.to_order button,
#addToCart,
.to_order span {
    color: $snow;
}

.variants_company,
.vacancies,
figure,
.notification,
.variants_pizza .buttons button:focus {
    background-color: $snow;
}

.position,
.info>ul>li,
.products>ul>li,
.description {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.products ul li a:hover,
.info ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: $pastel-pizza;
    margin-top: 30px;
    padding: 30px;
    border-radius: 0 0 20px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.location {
    margin: 10px 0 10px 0;
}

.info {
    justify-content: space-between;
    align-items: center;
}

.info>ul {
    display: flex;
}

.info ul li {
    padding: 0 20px;
    margin-top: 4px;
}

.compound {
    font-style: italic;
    font-size: smaller;
}

.description li {
    overflow-wrap: break-word;
}

.logo {
    border-radius: 200px;
}

.main {
    margin: 40px 100px 0 100px;
}

header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px 20px 0 0;
}

.logo-brand {
    display: flex;
    width: 100vw;
}

.photo {
    width: 100%;
    height: auto;
    transform: scale(0.8);
    transition: 0.3s all linear
}

.photo:hover {
    transform: scale(0.95);
}

.products {
    @include flex-center;
    background-color: #F5F5F5;
}

.products>ul>li {
    display: inline-block;
    margin: 0 10px 0 10px;
}

.variants {
    @include flex-center;
    margin-top: 20px;
    flex-flow: row wrap;
}

form {
    background-color: aliceblue;
    color: dimgrey;
    padding: 0 20px;
    margin: 20px 0;
    padding: 40px;
    font-size: 1.2em;
    border-radius: 30px;
    width: 80%;
}

.to_order {
    @include flex-center;
}

.to_order button,
#addToCart,
.to_order span {
    background-color: #A60C00;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

#addToCart {
    margin: 10px auto;
    border-radius: 20px;
}

.pizza_plaza {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 30px;
    padding: 10px;
}

figcaption {
    word-break: break-all;
    font-size: larger;
    font-weight: 800;
    margin-left: 40px;
}

figure {
    @include flex-center;
    border-radius: 20px;
    width: 40%;
    flex-direction: column;
}

img {
    align-content: center;
}

.description {
    margin-right: 20px;
}

@media(max-width: 1024px) {
    .promotions {
        height: 600px;
    }

    .promotions img {
        width: 100%;

    }
}

@media (max-width: 920px) {
    .logo {
        border-radius: 300px;
    }

    .main {
        margin: 40px 20px 0 20px;
    }

}

@media (max-width:768px) {
    .promotions img {
        width: 100%;
    }

    .promotions {
        height: 500px;
    }

    .vacancies {
        margin: 0;

        ul {
            padding-left: 30px;
            margin: 0;
        }
    }

    .variants {
        padding: 50px;
    }

    form {
        width: 100%;
    }

    .about,
    .first,
    .to_order button,
    #addToCart,
    .info>ul>li {
        font-size: 14px;
    }
}

@media (max-width:630px) {
    .description {
        margin-right: 10px;
    }


    .promotions img {
        object-fit: contain;
    }

    .info ul {
        display: block;
    }

    .variants {
        padding: 10px;
    }
}

@media (max-width:560px) {
    .promotions {
        height: 300px;
    }
}

@media (max-width:480px) {

    .main {
        margin: 0;
    }

    .logo-brand {
        width: 15%;

        img {
            width: 100%;
        }

        .pizza_plaza {
            font-size: 20px;
        }
    }

    figure {
        width: 100%;
    }

    .info>ul>li {
        padding: 0 2px;

        a {
            font-size: 15px;
        }
    }

    .products>ul>li {
        font-size: 15px;
    }

    .description {
        padding: 10px;
    }

    .vacancies {
        padding: 0;
        margin: 0;
        width: 100%;

        ul {
            padding-left: 20px;
        }
    }

    .description {
        margin: 0;
    }

    .about,
    .first {
        font-size: 14px;
    }

    .to_order button,
    #addToCart {
        font-size: 20px;
    }
}