$company-color: #004060;
$pastel-color: #75CEFB;

.company {
    background-color: $company-color;
}

.about,
.first {
    font-size: 130%;
    line-height: 1.5;
    text-indent: 3em;
}

.first:first-letter {
    font-size: 200%;
    background-color: $company-color;
}

.info_img {
    display: block;
    margin: auto;
    max-width: 75%;
    height: auto;
}