@keyframes changeImage {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

$pizza-color: #F98600;
$pastel-menu: #ffc074;

.header {
    background-color: $pizza-color;
    justify-content: space-between;
    align-items: center;
}

.logo {
    zoom: 30%;
}

.info>ul>li {
    list-style-type: none;
    padding: 0 20px;
}

.pizza_plaza {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 160%;
}

.variants_promotions {
    background-color: $pastel-menu;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

.promotions {
    width: 100%;
    height: 300px;
    position: relative;
}

.promotions img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    justify-self: center;
    object-fit: cover;
    opacity: 0;
    animation: changeImage 5s infinite;
}

.promotions .anim1 {
    animation-delay: 0s;
}

.promotions .anim2 {
    animation-delay: 2.5s;
}

.anim1,
.anim2 {
    position: absolute;
    top: 0;
    left: 0;
}

.anim1 {
    z-index: 1;
}

.anim2 {
    z-index: 2;
}