$order-color: #1776a5;
$pastel-order: #63bdea;
$snow: snow;

.order {
    background-color: $order-color;
}

.variants_order {
    background-color: $pastel-order;
}

.notification {
    padding: 20px;
    text-align: center;
}