$dough: #F9C303;
$pastel-dough: #FCE388;
$firebrick: firebrick;

.pizza {
    background-color: $dough;
}

.variants_pizza {
    background-color: $pastel-dough;
}

.variants_pizza .buttons button {
    background-color: $firebrick;
}

.variants_pizza .buttons button:focus {
    color: $firebrick;
    background-color: snow;
}

figure:hover .figure {
    transform: scale(1.1);
}